---
BasedOnStyle: Google
ColumnLimit: 200
IndentWidth: 1
ContinuationIndentWidth: 1
AlignAfterOpenBracket: false
TabWidth: 1
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
IncludeIsMainSourceRegex: '.*\.cu$'
SortUsingDeclarations: true
MaxEmptyLinesToKeep: 0
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
FixNamespaceComments: true
