---
BasedOnStyle: Google
ColumnLimit: 140
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
IncludeIsMainSourceRegex: '.*\.cu$'
SortUsingDeclarations: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
FixNamespaceComments: true
